---
layout: default
---
<div class="row">
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, "gutter": 10 }'>
  {% for post in paginator.posts %}
  {% unless post.draft %}
      {% assign index = forloop.index | modulo:3 %}
      <div class="grid-item panel panel-post">
          <div class="panel-heading">
            <h1 class="h1"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          </div>
          <div class="panel-body">{{ post.content | truncatewords:150 }}</div>
      </div>
  {% endunless %}
  {% endfor %}
  </div>
  <ul class="pagination">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}">prev.</a></li>
      {% endif %}
      {% for pnum in (1..paginator.total_pages) %}
        {% if pnum == 1 %}
          <li><a href="{{ site.baseurl }}/index.html">{{pnum}}</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/page{{ pnum }}">{{pnum}}</a></li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path}}">next.</a></li>
      {% endif %}
  </ul>
</div>