---
---

//
// IMPORTS
//

// @import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  /*overflow: hidden;*/
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.23);
}

body {
	background: $white;
  /*font: 18px/1.4 $georgia;*/
  /*font: 18px/1.4 Oswald, sans-serif;*/
  font: 18px/1.4 Ubuntu, sans-serif;
  color: $darkGray;
}

article {
  padding: 10px;
  font-size: 15px;
}

.read-more {
    text-align: center;
    background: rgba(255,255,255,0.5);
    display: inline-block;
    padding: 4px;
    margin-top: 8px;
    border-radius: 5px;
}
.read-more:hover, .read-more:active, .read-more:focus {
   background: rgba(255,255,255,0.9);
   color: #333;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1, .h1 {
  -webkit-column-span: all; 
  column-span: all;
  text-align: center;
  font-variant: small-caps;
  font-size: 24px;
  font-weight: bold;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
    text-decoration: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.container-narrow {
  max-width: 800px;
}

.top-container
{
   max-width: 100%;
   background-image: url('./images/twinkle_twinkle.png');
}

.wrapper-masthead {
  //margin-bottom: 50px;
}

.masthead {
  /*padding: 20px 0;*/
  /*border-bottom: 1px solid $lightGray;*/
  /*height: 200px;*/
  max-width: 740px;
  margin: auto;
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  text-align: right;
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 120px;
  line-height: 266px;
  letter-spacing: -5px;
  
  @include mobile {
     font-size: 16vh;
     line-height: 15vh;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


#main
{
	padding: 0px;
/*	max-width: 2000px;*/
}

.headliner {
    background: pink;
    color: #fff;
    height: 140px;
}
/*
.post-row {
  padding: 20px 40px 20px 40px;
}
.post-row:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 34px;
    left: 0px;
    margin-top: 2px;
  -webkit-transform: perspective(999px) rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: perspective(999px) rotate(1deg);
    background-color:inherit;
    border-bottom: 2px solid #222;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.post-row:nth-child(even):after {
  -webkit-transform: perspective(999px) rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: perspective(999px) rotate(-1deg);
}

.post-row:nth-child(3n+1) {
  background-color: #f8f8f8;  
}
.post-row:nth-child(3n+1):after {
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
}
.post-row:nth-child(3n+2) {
  background-color: #ffffff  
}*/

.post {
  font-family: Georgia, serif;
  /*column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-width: 300px;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  -ms-column-width: 300px;
  -o-column-width: 300px;*/
}

.post-row {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.wrapper-footer {
  //margin-top: 50px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  background-color: #222;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 1000;
}
.affix + .container {
    padding-top: 50px;
}
.affix:after {
  content: 'littleGustav';
  position: absolute;
  font-variant: small-caps;
  right: 10px;
  color: white;
  display: block;
  height: 50px;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
}

.pagination {
  position: absolute;
  right: 0px;
  background: #222;
}

.pagination li a {
  color: white;
  border: none;
  background: none;
  font-variant: small-caps;
  font-weight: bold;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
